.discrete-slider {
  position: relative;
  width: 100%;
  margin: 50px 0;
}

.slider {
  width: 100%;
}
input[type="range"]{
  margin:0px;
  border: none;
  padding:none;
}

.slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  height: 10px; /* Track height */
  background: #252525; /* Track background color */
  outline: none;
  border-radius: 5px;
  position: relative;

}
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  border-radius: 5px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #AEADAD; /* Thumb color */
  border-radius: 50%; /* Round thumb */
  cursor: pointer;
  border: 2px;
  margin-top:-4px;
  z-index:1;
}

.slider-labels {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.slider-label {
  position: absolute;
  bottom: -25px;
  transform: translateX(-50%);
  font-size: 12px;
  color: grey;
}


.slider-label.active {
  color: var(--main-text-white-color);
  font-weight: bold;
}
/* Style the ticks (notches) */
.slider-ticks {
  pointer-events:none;
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.slider-tick {
  width: 2px;
  height: 14px;
  background-color: #AEADAD;
}
